#Java
*.class

# XCode
*.moved-aside
build/*
*.xcworkspace
*.mode1v3
*.mode2v3
*.pbxuser
!default.xcworkspace
!default.mode1v3
!default.mode2v3
!default.pbxuser
*.perspectivev3
profile
xcuserdata
.idea/*

#Cocoa pods
*.old
Pods/*

#cocos2d-x
bin/
obj/
assets/
gen/
out/
#.classpath
#.project
#.settings
#.cproject
local.properties
ant.properties
proguard-project.txt
/linux-build
publish
/proj.android/cocos2d
/proj.android/Classes
/proj.android/libs/armeabi
/proj.android/libs/armeabi-v7a
/proj.android/libs/x86

# backup files
*.bak
*.bak[0-9][0-9]
*.orig
*.orig[0-9][0-9]

# source packages - anywhere
*.tar.bz2
*.tar.gz
*.tar
*.tgz
*.gtgz

#/Resources